<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Booking.clone</title>
</head>

<body>

<h1>Booking.clone</h1>
<a th:href="@{/}">Back to Home</a>
<hr>

<div class="container">

    <h3 th:text="${hotel.name}" />

    <p th:text="${hotel.about}" />

    <h4>Список доступных номеров</h4>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Название</th>
            <th>Вместимость</th>
            <th>Кол-во кроватей</th>
            <th>Кол-во комнат</th>
            <th>Цена</th>
            <th>Свободных номеров</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="roomType : ${roomTypes}">

            <td>
                <a th:href="@{/roomType/{id}(id=${roomType.id})}"
                   class="btn btn-primary btn-sm mb-3" th:text="${roomType.name}">
                </a>
            </td>
            <td th:text="${roomType.numberPeople}" />
            <td th:text="${roomType.numberBeds}" />
            <td th:text="${roomType.numberRooms}" />
            <td>
                <a th:href="@{/roomType/{id}/book(id=${roomType.id})}"
                   th:text="${roomType.price}"
                   class="btn btn-info btn-sm">
                </a>
            </td>
            <td th:text="${roomType.count}" />

        </tr>
        </tbody>
    </table>

    <a th:href="@{/roomtype/add}"
       class="btn btn-primary btn-sm mb-3">
        Добавить номер
    </a>

</div>

</body>
</html>